<h3 class="text-center">Create New Sign</h3>

<form name="signCreateCtrl.signForm" class="form-horizontal" ng-submit="signCreateCtrl.submitForm()" novalidate>

    <div class="form-group">
        <label for="inputSignNumber" class="col-sm-4 control-label">Sign Number</label>
        <div class="col-sm-5">
            <input id="inputSignNumber" name="signNumber" type="text" class="form-control"
                   ng-model="signCreateCtrl.newSignData.signNumber" required>
        </div>
        <div ng-messages="signCreateCtrl.signForm.signNumber.$error" role="alert" class="has-error"
             ng-if='signCreateCtrl.signForm.signNumber.$dirty || signCreateCtrl.signForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">Sign Number is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputAddress" class="col-sm-4 control-label">Address</label>
        <div class="col-sm-5">
            <input id="inputAddress" name="address" type="text" class="form-control"
                   ng-model="signCreateCtrl.newSignData.address" required>
        </div>
        <div ng-messages="signCreateCtrl.signForm.address.$error" role="alert" class="has-error"
             ng-if='signCreateCtrl.signForm.address.$dirty || signCreateCtrl.signForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">Address is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputCity" class="col-sm-4 control-label">City</label>
        <div class="col-sm-5">
            <input id="inputCity" name="city" type="text" class="form-control"
                   ng-model="signCreateCtrl.newSignData.city" required>
        </div>
        <div ng-messages="signCreateCtrl.signForm.city.$error" role="alert" class="has-error"
             ng-if='signCreateCtrl.signForm.city.$dirty || signCreateCtrl.signForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">City is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputCity" class="col-sm-4 control-label">State</label>
        <div class="col-sm-5">
            <input id="inputState" name="state" type="text" class="form-control"
                   ng-model="signCreateCtrl.newSignData.state" required>
        </div>
        <div ng-messages="signCreateCtrl.signForm.city.$error" role="alert" class="has-error"
             ng-if='signCreateCtrl.signForm.state.$dirty || signCreateCtrl.signForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">State is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputZip" class="col-sm-4 control-label">Zip</label>
        <div class="col-sm-5">
            <input id="inputZip" name="zip" type="text" class="form-control"
                   ng-model="signCreateCtrl.newSignData.zip" required>
        </div>
        <div ng-messages="signCreateCtrl.signForm.zip.$error" role="alert" class="has-error"
             ng-if='signCreateCtrl.signForm.zip.$dirty || signCreateCtrl.signForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">Zip is required.</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5 text-center">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Create Sign
            </button>
            <button type="submit" class="btn btn-default" ng-click="signCreateCtrl.cancelSign()">
                Cancel
            </button>
        </div>
    </div>

</form>