<h3 class="text-center">Create New User</h3>

<form name="userCreateCtrl.userForm" class="form-horizontal" ng-submit="userCreateCtrl.submitForm()" novalidate>

    <div class="form-group">
        <label for="inputFirstName" class="col-sm-4 control-label">First Name</label>
        <div class="col-sm-5">
            <input id="inputFirstName" name="firstName" type="text" class="form-control"
                   ng-model="userCreateCtrl.newUserData.firstName" required>
        </div>
        <div ng-messages="userCreateCtrl.userForm.firstName.$error" role="alert" class="has-error"
             ng-if='userCreateCtrl.userForm.firstName.$dirty || userCreateCtrl.userForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">First name is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputLastName" class="col-sm-4 control-label">Last Name</label>
        <div class="col-sm-5">
            <input id="inputLastName" name="lastName" type="text" class="form-control"
                   ng-model="userCreateCtrl.newUserData.lastName" required>
        </div>
        <div ng-messages="userCreateCtrl.userForm.lastName.$error" role="alert" class="has-error"
             ng-if='userCreateCtrl.userForm.lastName.$dirty || userCreateCtrl.userForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">Last name is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-5">
            <input id="inputEmail" name="email" type="email" class="form-control"
                   ng-model="userCreateCtrl.newUserData.email" required>
        </div>
        <div ng-messages="userCreateCtrl.userForm.email.$error" role="alert" class="has-error"
             ng-if='userCreateCtrl.userForm.email.$dirty || userCreateCtrl.userForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">Email is required.</div>
            <div ng-message="email" class="col-sm-3 help-block">Email is invalid.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputUserRole" class="col-sm-4 control-label">User Role</label>
        <div class="col-sm-5">
            <select id="inputUserRole" name="userRole" class="form-control" ng-model="userCreateCtrl.newUserData.role"
                    ng-options="role.roleName for role in userCreateCtrl.userRoles" required>
            </select>
        </div>
        <div ng-messages="userCreateCtrl.userForm.userRole.$error" role="alert" class="has-error"
             ng-if='userCreateCtrl.userForm.userRole.$dirty || userCreateCtrl.userForm.$submitted'>
            <div ng-message="required" class="col-sm-3 help-block">User role is required.</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5 text-center">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Create User
            </button>
            <button type="submit" class="btn btn-default" ng-click="userCreateCtrl.cancelUser()">
                Cancel
            </button>
        </div>
    </div>

</form>